.caseHeader {
  width: 100%;
  font-family: helvetica;
  display: flex;
  margin-bottom: 3em;
}
.caseTitle {
  float:left;
  font-size: 1.5em;
  flex: 1;
  opacity: .5;
}
.caseDesc {
  float: right;
  font-size: 3em;
  flex: 3;
}
.heroImage {
  width: 100%;
  height: 800px;
  background-color: black;
}
.kHeroImage {
  width: 100%;
  height: 800px;
  background-color: black;
}
.apHeroImage {
  width: 100%;
  height: 800px;
  background-color: black;
}
.aslHeroImage {
  width: 100%;
  height: 800px;
  background-color: black;
}
.blondHeroImage {
  width: 100%;
  height: 800px;
  background-color: black;
  background-image: url("../img/FO_1.jpg");
  background-position: center;
  background-size: cover;
}
.flondHeroImage {
  width: 100%;
  height: 800px;
  background-color: black;
}
.bodyText {
  float: right;
  font-size: 2em;
  flex: 3;
  font-weight: lighter;
}
.heroImage2 {
  width:100%;
  height: 800px;
  background-image: url("../img/ageGate_1.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.aslHeroImage2 {
  width:100%;
  height: 800px;
  background-image: url("../img/asl_2.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.aslHeroImage3 {
  width:100%;
  height: 800px;
  background-image: url("../img/asl.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.aslHeroImage4 {
  width:100%;
  height: 800px;
  background-image: url("../img/asl_2.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.apHeroImage2 {
  width:100%;
  height: 800px;
  background-image: url("../img/templates_4.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.apHeroImage3 {
  width:100%;
  height: 800px;
  background-image: url("../img/signage.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.heroImage3 {
  width:100%;
  height: 800px;
  background-image: url("../img/Locations.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.heroImage4 {
  width:100%;
  height: 800px;
  background-image: url("../img/RSVP_2.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.heroImage5 {
  width:100%;
  height: 800px;
  background-image: url("../img/SM-3.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.heroImage6 {
  width:100%;
  height: 800px;
  background-image: url("../img/SM-4.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.heroImage7 {
  width:100%;
  height: 800px;
  margin-bottom: 3em;
  margin-top: 3em;
}
.module {
  width: 100%;
  font-family: helvetica;
  display: flex;
  margin-bottom: 2em;
  margin-top: 2em;
}
.moduleTitle {
  float:left;
  font-size: 1.5em;
  flex: 1;
  opacity: .5;
}
.moduleText {
  float: right;
  font-size: 2em;
  flex: 3;
  font-weight: normal;
}
.moduleText2 {
  float: right;
  font-size: 1.5em;
  flex: 3;
  font-weight: lighter;
  line-height: 1.5em;
}
.moduleCredits {
  font-size: 1.5em;
  flex: 3;
  font-weight: lighter;
  margin-bottom: 2em;
}
.heroImage {
  background-image: url("../img/SM-2.jpg");
  background-position: center;
  background-size: cover;
}
.apHeroImage {
  background-image: url("../img/ApplePay-BK-2.jpg");
  background-position: center;
  background-size: cover;
}
.aslHeroImage {
  background-image: url("../img/hand5.jpg");
  background-position: center;
  background-size: cover;
}
.kHeroImage {
  background-image: url("../img/kinetic_4.gif");
  background-position: center;
  background-size: cover;
}
.kHeroImage2 {
  width:100%;
  height: 800px;
  background-image: url("../img/kinetic_1.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.kHeroImage3 {
  width:100%;
  height: 800px;
  background-image: url("../img/kinetic_2.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.kHeroImage4 {
  width:100%;
  height: 800px;
  background-image: url("../img/kinetic_3.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.nikeHeroImage {
  width:100%;
  height: 800px;
  background-image: url("../img/nike_1.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.nikeHeroImage2 {
  width:100%;
  height: 800px;
  background-image: url("../img/nike_2.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.nikeHeroImage3 {
  width:100%;
  height: 800px;
  background-image: url("../img/Shirt_4.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.blondHeroImage2 {
  width:100%;
  height: 800px;
  background-image: url("../img/blond_1.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.blondHeroImage3 {
  width:100%;
  height: 800px;
  background-image: url("../img/blond_2.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.blondHeroImage4 {
  width:100%;
  height: 800px;
  background-image: url("../img/blond_3.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.canvas {
  width:95vw;
  height: 800px;
  margin-bottom: 3em;
  margin-top: 3em;
}
.fHeroImage {
  background-image: url("../img/f360vid.mp4");
  background-position: center;
  background-size: cover;
}
.fHeroImage2 {
  width:100%;
  height: 800px;
  background-image: url("../img/f_color.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.fHeroImage3 {
  width:100%;
  height: 800px;
  background-image: url("../img/f_graphics.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.fHeroImage4 {
  width:100%;
  height: 800px;
  background-image: url("../img/f_site.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.fHeroImage5 {
  width:100%;
  height: 800px;
  background-image: url("../img/f_site-2.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.STHeroImage {
  width: 100%;
  height: 800px;
  background-color: black;
}
.STHeroImage {
  width: 100%;
  height: 800px;
  background-color: black;
  background-image: url("../img/ST_3.jpg");
  background-position: center;
  background-size: cover;
}
.STHeroImage2 {
  width:100%;
  height: 800px;
  background-image: url("../img/ST_2.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.STHeroImage3 {
  width:100%;
  height: 800px;
  background-image: url("../img/ST_1.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.STHeroImage4 {
  width:100%;
  height: 800px;
  background-image: url("../img/ST_4.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.inspireHeroImage {
  width: 100%;
  height: 800px;
  background-color: black;
  background-image: url("../img/Inspire_1.jpg");
  background-position: center;
  background-size: cover;
}
.inspireHeroImage2 {
  width:100%;
  height: 800px;
  background-image: url("../img/inspire_2.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.inspireHeroImage3 {
  width:100%;
  height: 800px;
  background-image: url("../img/inspire_3.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.inspireHeroImage4 {
  width:100%;
  height: 800px;
  background-image: url("../img/inspire_5.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}
.classLink {
  color:blue;
}
.classLink:hover {
  padding-left:5px;
  transition: 200ms ease-in-out
}
.line {
  color:black;
  width: 94vw;
  opacity: .5;
  margin-top: 2em;
  margin-bottom: 2em;
}
