h1 {
    font-size: 19.5px;
    font-family: var(--standard-font);
    font-weight: 300;
    letter-spacing: 0.01em;
    color: #000;
    margin: 0 0;
    transition: color 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
}
h2 {
    font-size: 1.3em;
    font-family: var(--standard-font);
    font-weight: 200;
    letter-spacing: 0.2px;
    line-height: 1.25em;
    color: #000;
    transition: color 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
}
h3 {
    font-size: 1em;
    font-family: var(--standard-font);
    font-weight: 200;
    letter-spacing: 0.2px;
    line-height: 1.25em;
    color: #000;
    transition: color 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
}
 a {
   text-decoration: none;
 }
 @keyframes fadeIn {
   to {
     opacity: 1;
   }
 }

//animations

 .fade-in {
 	-webkit-animation: fadeIn 1s ease-in 1 forwards;
   animation: fadeIn 1s ease-in 1 forwards;
   transition: all 1.5s cubic-bezier(0.35, 1, 0.45, 1);
   opacity: 0;
 }
 [data-animate-in] {
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease
}

[data-animate-in="up"] {
    transform: translate3d(0, 24px, 0)
}

[data-animate-in="left"] {
    transform: translate3d(-25%, 0, 0)
}

[data-animate-in="right"] {
    transform: translate3d(25%, 0, 0)
}

[data-animate-in="down"] {
    transform: translate3d(0, -24px, 0)
}

[data-animate-in="fadeIn"] {
    transform: translate3d(0, 0, 0)
}

[data-animate-in].in-view {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: transform 0.6s ease, opacity 0.6s ease
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease
}

.page-loaded .fade-in,.page-loaded.fade-in {
    opacity: 1
}

.isSafari.isTouch [data-animate-in],.isSafari.isTouch [data-animate-in="up"] {
    opacity: 1;
    transition: none;
    transform: none
}
