@import url('href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
/* line 4, ../sass/_variables.scss */
:root {
  --white: #ffffff;
  --gray: #f4f4f4;
  --standard-font: 'Helvetica', sans-serif;
}

/* line 1, ../sass/_generic.scss */
h1 {
  font-size: 19.5px;
  font-family: var(--standard-font);
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000;
  margin: 0 0;
  transition: color 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
}

/* line 10, ../sass/_generic.scss */
h2 {
  font-size: 1.3em;
  font-family: var(--standard-font);
  font-weight: 200;
  letter-spacing: 0.2px;
  line-height: 1.25em;
  color: #000;
  transition: color 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
}

/* line 19, ../sass/_generic.scss */
h3 {
  font-size: 1em;
  font-family: var(--standard-font);
  font-weight: 200;
  letter-spacing: 0.2px;
  line-height: 1.25em;
  color: #000;
  transition: color 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
}

/* line 28, ../sass/_generic.scss */
a {
  text-decoration: none;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/* line 39, ../sass/_generic.scss */
.fade-in {
  -webkit-animation: fadeIn 1s ease-in 1 forwards;
  animation: fadeIn 1s ease-in 1 forwards;
  transition: all 1.5s cubic-bezier(0.35, 1, 0.45, 1);
  opacity: 0;
}

/* line 45, ../sass/_generic.scss */
[data-animate-in] {
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

/* line 50, ../sass/_generic.scss */
[data-animate-in="up"] {
  transform: translate3d(0, 24px, 0);
}

/* line 54, ../sass/_generic.scss */
[data-animate-in="left"] {
  transform: translate3d(-25%, 0, 0);
}

/* line 58, ../sass/_generic.scss */
[data-animate-in="right"] {
  transform: translate3d(25%, 0, 0);
}

/* line 62, ../sass/_generic.scss */
[data-animate-in="down"] {
  transform: translate3d(0, -24px, 0);
}

/* line 66, ../sass/_generic.scss */
[data-animate-in="fadeIn"] {
  transform: translate3d(0, 0, 0);
}

/* line 70, ../sass/_generic.scss */
[data-animate-in].in-view {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: transform 0.6s ease, opacity 0.6s ease;
}

/* line 77, ../sass/_generic.scss */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease;
}

/* line 82, ../sass/_generic.scss */
.page-loaded .fade-in, .page-loaded.fade-in {
  opacity: 1;
}

/* line 86, ../sass/_generic.scss */
.isSafari.isTouch [data-animate-in], .isSafari.isTouch [data-animate-in="up"] {
  opacity: 1;
  transition: none;
  transform: none;
}

/* line 3, ../sass/_body.scss */
#body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: scroll;
}

/* line 9, ../sass/_body.scss */
.bodyHasOverlay {
  overflow: hidden;
}

/* line 14, ../sass/_body.scss */
.wbg {
  background-color: var(--gray);
}

/* line 20, ../sass/_body.scss */
#header {
  padding-top: 30px;
  height: 100px;
  top: 0px;
  z-index: 20;
  position: relative;
  transition: 500ms ease-in-out;
}

/* line 28, ../sass/_body.scss */
.headerOverlay {
  position: fixed;
  top: 0px;
}

/* line 32, ../sass/_body.scss */
#work {
  position: relative;
  transition: 500ms ease-in-out;
  transition-delay: 500ms ease-in-out;
}

/* line 37, ../sass/_body.scss */
#info {
  transition: 500ms ease-in-out;
}

/* line 40, ../sass/_body.scss */
.headercontent {
  width: 95vw;
  margin: 0 auto;
}

/* line 44, ../sass/_body.scss */
.content-left {
  float: left;
  width: 50%;
}

/* line 48, ../sass/_body.scss */
.logo {
  float: left;
}

/* line 51, ../sass/_body.scss */
.content-right {
  float: right;
  width: 50%;
}

/* line 55, ../sass/_body.scss */
.innerNav {
  display: inline;
  margin-left: 1.25em;
  transition: 300ms ease-in-out;
  opacity: .5;
  font-size: 3em;
  font-weight: 100;
}

/* line 63, ../sass/_body.scss */
#x {
  color: black;
  rotation: 0deg;
  cursor: pointer;
}

/* line 68, ../sass/_body.scss */
.innerNav:hover {
  transition: 300ms ease-in-out;
  opacity: 1;
}

/* line 72, ../sass/_body.scss */
.innerNav {
  float: right;
}

/* line 77, ../sass/_body.scss */
.dividerStart {
  color: white;
  position: relative;
  top: 6vw;
  width: 0;
  transition: 1s ease-in-out;
  transition-delay: .25s;
  margin-left: 0;
}

/* line 86, ../sass/_body.scss */
.dividerStart2 {
  color: white;
  position: relative;
  top: 6vw;
  width: 0;
  transition: 1s ease-in-out;
  transition-delay: .25s;
  margin-left: 0;
}

/* line 95, ../sass/_body.scss */
.dividerStart3 {
  color: white;
  position: relative;
  top: 6vw;
  width: 0;
  transition: 1s ease-in-out;
  transition-delay: .25s;
  margin-left: 0;
}

/* line 104, ../sass/_body.scss */
.divider {
  color: white;
  position: relative;
  top: 6vw;
  width: 94vw;
  transition: 1s ease-in-out;
  transition-delay: .25s;
  margin-left: 0;
}

/* line 113, ../sass/_body.scss */
.divider2 {
  color: white;
  position: relative;
  top: 6vw;
  width: 94vw;
  transition: 1s ease-in-out;
  transition-delay: .5s;
  margin-left: 0;
}

/* line 122, ../sass/_body.scss */
.divider3 {
  color: white;
  position: relative;
  top: 6vw;
  width: 94vw;
  transition: 1s ease-in-out;
  transition-delay: .75s;
  margin-left: 0;
}

/* line 131, ../sass/_body.scss */
.menu {
  height: 100vh;
  width: 100%;
  transition: 0.3s ease-in-out;
  background-color: black;
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
}

/* line 145, ../sass/_body.scss */
.menuContent {
  width: 95vw;
  margin: 0 auto;
}

/* line 149, ../sass/_body.scss */
.menuModule {
  width: 100%;
  font-family: helvetica;
  display: flex;
  margin-bottom: 2em;
  margin-top: 2em;
  color: white;
  position: relative;
  top: 4vw;
}

/* line 159, ../sass/_body.scss */
.menuModuleTitle {
  float: left;
  font-size: 1.5em;
  flex: 1;
  opacity: .5;
  color: white;
}

/* line 166, ../sass/_body.scss */
.menuModuleText {
  float: right;
  font-size: 1.5em;
  flex: 4;
  font-weight: lighter;
  color: white;
  line-height: 1.5em;
}

/* line 174, ../sass/_body.scss */
.skillModule {
  width: 100%;
  font-family: helvetica;
  display: flex;
  margin-bottom: 2em;
  margin-top: 6em;
  color: white;
  position: relative;
  top: 4vw;
}

/* line 184, ../sass/_body.scss */
.skillModuleTitle {
  float: left;
  font-size: 1.5em;
  flex: 1;
  opacity: .5;
  color: white;
}

/* line 191, ../sass/_body.scss */
.skillModuleText {
  float: right;
  font-size: 1.5em;
  font-weight: lighter;
  color: white;
  line-height: 1.5em;
  flex: 4;
}

/* line 199, ../sass/_body.scss */
.skillModuleText > a {
  text-decoration: none;
  color: white;
  transition: .5s;
  opacity: .75;
  font-size: 1.25em;
  margin-right: 1em;
}

/* line 207, ../sass/_body.scss */
.skillModuleText > a:visited {
  text-decoration: none;
  color: white;
  opacity: 1;
}

/* line 212, ../sass/_body.scss */
.skillModuleText > a:hover {
  color: white;
  opacity: 1;
  cursor: pointer;
}

/* line 217, ../sass/_body.scss */
.skillModuleText > a:hover {
  color: white;
  cursor: pointer;
}

/* line 221, ../sass/_body.scss */
.show {
  opacity: 0;
  visibility: hidden;
  transition: 300ms ease-in-out;
}

/* line 226, ../sass/_body.scss */
.rot {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 300ms ease-in-out;
}

/* line 235, ../sass/_body.scss */
.open {
  cursor: pointer;
  transition: 500ms ease-in-out;
}

/* line 239, ../sass/_body.scss */
.workContainer {
  margin: 0 auto;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

/* line 246, ../sass/_body.scss */
.workContainer2 {
  margin: 0 auto;
  padding-top: 3em;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
}

/* line 253, ../sass/_body.scss */
.navContainer {
  margin: 0 auto;
  padding-top: 3em;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
}

/* line 260, ../sass/_body.scss */
.workTile1 {
  height: 600px;
  width: 32.55%;
  background-color: black;
  border: 6px solid #f4f4f4;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 0;
  transition: .25s ease-in-out;
  top: 0;
}

/* line 272, ../sass/_body.scss */
.workTile1:hover {
  top: -5px;
}
/* line 274, ../sass/_body.scss */
.workTile1:hover .title2 {
  opacity: 1;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

/* line 280, ../sass/_body.scss */
.title {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 30px;
  font-family: helvetica;
  color: white;
  font-size: 1.2em;
  font-weight: medium;
  cursor: pointer;
}

/* line 291, ../sass/_body.scss */
.title2 {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 30px;
  font-family: helvetica;
  color: white;
  font-size: 1.2em;
  font-weight: medium;
  opacity: 0;
  cursor: pointer;
}

/* line 303, ../sass/_body.scss */
.SM {
  background-image: url("../img/SM-1.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

/* line 309, ../sass/_body.scss */
.SM:hover {
  background-image: url("../img/SM-hov.jpg");
  background-position: center;
  background-size: cover;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

/* line 316, ../sass/_body.scss */
.AP {
  background-image: url("../img/AP-1.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

/* line 322, ../sass/_body.scss */
.AP:hover {
  background-image: url("../img/AP-hov.jpg");
  background-position: center;
  background-size: cover;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

/* line 329, ../sass/_body.scss */
.hand {
  background-image: url("../img/pers_hand.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

/* line 335, ../sass/_body.scss */
.hand:hover {
  background-image: url("../img/pers_hand-hov.jpg");
  background-position: center;
  background-size: cover;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

/* line 342, ../sass/_body.scss */
.kinetic {
  background-image: url("../img/radial.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

/* line 348, ../sass/_body.scss */
.kinetic:hover {
  background-image: url("../img/radial-hov.jpg");
  background-position: center;
  background-size: cover;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

/* line 355, ../sass/_body.scss */
.fo {
  background-image: url("../img/FO.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

/* line 361, ../sass/_body.scss */
.fo:hover {
  background-image: url("../img/FO-hov.jpg");
  background-position: center;
  background-size: cover;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

/* line 368, ../sass/_body.scss */
.f360 {
  background-image: url("../img/f360.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

/* line 374, ../sass/_body.scss */
.f360:hover {
  background-image: url("../img/f360-hover.jpg");
  background-position: center;
  background-size: cover;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

/* line 381, ../sass/_body.scss */
.lkr {
  background-image: url("../img/lkr-1.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

/* line 387, ../sass/_body.scss */
.lkr:hover {
  background-image: url("../img/lkr-hov.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

/* line 393, ../sass/_body.scss */
.SM {
  background-image: url("../img/SM-1.jpg");
  background-position: center;
  background-size: cover;
}

/* line 398, ../sass/_body.scss */
.SM:hover {
  background-image: url("../img/SM-hov.jpg");
  background-position: center;
  background-size: cover;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

/* line 405, ../sass/_body.scss */
.AP {
  background-image: url("../img/AP-1.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

/* line 411, ../sass/_body.scss */
.AP:hover {
  background-image: url("../img/AP-hov.jpg");
  background-position: center;
  background-size: cover;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

/* line 418, ../sass/_body.scss */
.mobile {
  display: none;
}

/* line 1, ../sass/slideup.scss */
.ms-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--standard-font);
}

/* line 7, ../sass/slideup.scss */
.ms-header__title {
  flex: 1 1 100%;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  color: black;
  opacity: 1;
}

/* line 17, ../sass/slideup.scss */
.ms-slider {
  display: inline-block;
  height: 1.5em;
  overflow: hidden;
  vertical-align: middle;
  -webkit-mask-image: linear-gradient(transparent, white, white, white, transparent);
  mask-image: linear-gradient(transparent, white, white, white, transparent);
  mask-type: luminance;
  mask-mode: alpha;
}

/* line 27, ../sass/slideup.scss */
.ms-slider__words {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-animation-name: wordSlider;
  animation-name: wordSlider;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}

/* line 41, ../sass/slideup.scss */
.ms-slider__word {
  display: block;
  line-height: 1.3em;
  text-align: left;
}

@-webkit-keyframes wordSlider {
  0%, 27% {
    transform: translateY(0%);
  }
  33%, 60% {
    transform: translateY(-25%);
  }
  66%, 93% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-75%);
  }
}
@keyframes wordSlider {
  0%, 27% {
    transform: translateY(0%);
  }
  33%, 60% {
    transform: translateY(-25%);
  }
  66%, 93% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-75%);
  }
}
/* line 1, ../sass/overlay.scss */
.overlay {
  height: 0vh;
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: 500ms ease-in-out;
}

/* line 12, ../sass/overlay.scss */
.projectOverlay {
  height: 2000px;
  width: 0vw;
  z-index: 5;
  background-color: #d5d5d5;
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: 600ms ease-in-out;
}

/* line 25, ../sass/overlay.scss */
.overlay-content {
  width: 95vw;
  margin: 0 auto;
  position: relative;
  transition: 400ms ease-in-out;
  transition-delay: 200ms;
  opacity: 0%;
  top: 75px;
}

/* line 34, ../sass/overlay.scss */
.content-left {
  float: left;
}

/* line 37, ../sass/overlay.scss */
.content-right {
  float: right;
}

/* line 40, ../sass/overlay.scss */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* line 43, ../sass/overlay.scss */
.introduction {
  font-size: 1.35em;
  width: 40vw;
  margin-right: 10vw;
  line-height: 1.75em;
  text-align: left;
}

/* line 50, ../sass/overlay.scss */
.contact {
  font-size: 1.35em;
  width: 50vw;
  line-height: 1.75em;
  text-align: left;
}

/* line 56, ../sass/overlay.scss */
.contactli {
  display: inline;
}

/* line 59, ../sass/overlay.scss */
.awardLogo {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* line 64, ../sass/overlay.scss */
.award-holder {
  margin-bottom: 3em;
  margin-top: 1em;
}

/* line 68, ../sass/overlay.scss */
video {
  width: 100%;
  height: auto;
}

/* line 1, ../sass/_casestudy.scss */
.caseHeader {
  width: 100%;
  font-family: helvetica;
  display: flex;
  margin-bottom: 3em;
}

/* line 7, ../sass/_casestudy.scss */
.caseTitle {
  float: left;
  font-size: 1.5em;
  flex: 1;
  opacity: .5;
}

/* line 13, ../sass/_casestudy.scss */
.caseDesc {
  float: right;
  font-size: 3em;
  flex: 3;
}

/* line 18, ../sass/_casestudy.scss */
.heroImage {
  width: 100%;
  height: 800px;
  background-color: black;
}

/* line 23, ../sass/_casestudy.scss */
.kHeroImage {
  width: 100%;
  height: 800px;
  background-color: black;
}

/* line 28, ../sass/_casestudy.scss */
.apHeroImage {
  width: 100%;
  height: 800px;
  background-color: black;
}

/* line 33, ../sass/_casestudy.scss */
.aslHeroImage {
  width: 100%;
  height: 800px;
  background-color: black;
}

/* line 38, ../sass/_casestudy.scss */
.blondHeroImage {
  width: 100%;
  height: 800px;
  background-color: black;
  background-image: url("../img/FO_1.jpg");
  background-position: center;
  background-size: cover;
}

/* line 46, ../sass/_casestudy.scss */
.flondHeroImage {
  width: 100%;
  height: 800px;
  background-color: black;
}

/* line 51, ../sass/_casestudy.scss */
.bodyText {
  float: right;
  font-size: 2em;
  flex: 3;
  font-weight: lighter;
}

/* line 57, ../sass/_casestudy.scss */
.heroImage2 {
  width: 100%;
  height: 800px;
  background-image: url("../img/ageGate_1.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 66, ../sass/_casestudy.scss */
.aslHeroImage2 {
  width: 100%;
  height: 800px;
  background-image: url("../img/asl_2.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 75, ../sass/_casestudy.scss */
.aslHeroImage3 {
  width: 100%;
  height: 800px;
  background-image: url("../img/asl.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 84, ../sass/_casestudy.scss */
.aslHeroImage4 {
  width: 100%;
  height: 800px;
  background-image: url("../img/asl_2.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 93, ../sass/_casestudy.scss */
.apHeroImage2 {
  width: 100%;
  height: 800px;
  background-image: url("../img/templates_4.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 102, ../sass/_casestudy.scss */
.apHeroImage3 {
  width: 100%;
  height: 800px;
  background-image: url("../img/signage.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 111, ../sass/_casestudy.scss */
.heroImage3 {
  width: 100%;
  height: 800px;
  background-image: url("../img/Locations.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 120, ../sass/_casestudy.scss */
.heroImage4 {
  width: 100%;
  height: 800px;
  background-image: url("../img/RSVP_2.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 129, ../sass/_casestudy.scss */
.heroImage5 {
  width: 100%;
  height: 800px;
  background-image: url("../img/SM-3.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 138, ../sass/_casestudy.scss */
.heroImage6 {
  width: 100%;
  height: 800px;
  background-image: url("../img/SM-4.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 147, ../sass/_casestudy.scss */
.heroImage7 {
  width: 100%;
  height: 800px;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 153, ../sass/_casestudy.scss */
.module {
  width: 100%;
  font-family: helvetica;
  display: flex;
  margin-bottom: 2em;
  margin-top: 2em;
}

/* line 160, ../sass/_casestudy.scss */
.moduleTitle {
  float: left;
  font-size: 1.5em;
  flex: 1;
  opacity: .5;
}

/* line 166, ../sass/_casestudy.scss */
.moduleText {
  float: right;
  font-size: 2em;
  flex: 3;
  font-weight: normal;
}

/* line 172, ../sass/_casestudy.scss */
.moduleText2 {
  float: right;
  font-size: 1.5em;
  flex: 3;
  font-weight: lighter;
  line-height: 1.5em;
}

/* line 179, ../sass/_casestudy.scss */
.moduleCredits {
  font-size: 1.5em;
  flex: 3;
  font-weight: lighter;
  margin-bottom: 2em;
}

/* line 185, ../sass/_casestudy.scss */
.heroImage {
  background-image: url("../img/SM-2.jpg");
  background-position: center;
  background-size: cover;
}

/* line 190, ../sass/_casestudy.scss */
.apHeroImage {
  background-image: url("../img/ApplePay-BK-2.jpg");
  background-position: center;
  background-size: cover;
}

/* line 195, ../sass/_casestudy.scss */
.aslHeroImage {
  background-image: url("../img/hand5.jpg");
  background-position: center;
  background-size: cover;
}

/* line 200, ../sass/_casestudy.scss */
.kHeroImage {
  background-image: url("../img/kinetic_4.gif");
  background-position: center;
  background-size: cover;
}

/* line 205, ../sass/_casestudy.scss */
.kHeroImage2 {
  width: 100%;
  height: 800px;
  background-image: url("../img/kinetic_1.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 214, ../sass/_casestudy.scss */
.kHeroImage3 {
  width: 100%;
  height: 800px;
  background-image: url("../img/kinetic_2.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 223, ../sass/_casestudy.scss */
.kHeroImage4 {
  width: 100%;
  height: 800px;
  background-image: url("../img/kinetic_3.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 232, ../sass/_casestudy.scss */
.nikeHeroImage {
  width: 100%;
  height: 800px;
  background-image: url("../img/nike_1.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 241, ../sass/_casestudy.scss */
.nikeHeroImage2 {
  width: 100%;
  height: 800px;
  background-image: url("../img/nike_2.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 250, ../sass/_casestudy.scss */
.blondHeroImage2 {
  width: 100%;
  height: 800px;
  background-image: url("../img/blond_1.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 259, ../sass/_casestudy.scss */
.blondHeroImage3 {
  width: 100%;
  height: 800px;
  background-image: url("../img/blond_2.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 268, ../sass/_casestudy.scss */
.blondHeroImage4 {
  width: 100%;
  height: 800px;
  background-image: url("../img/blond_3.gif");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 277, ../sass/_casestudy.scss */
.canvas {
  width: 95vw;
  height: 800px;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 283, ../sass/_casestudy.scss */
.fHeroImage {
  background-image: url("../img/f360vid.mp4");
  background-position: center;
  background-size: cover;
}

/* line 288, ../sass/_casestudy.scss */
.fHeroImage2 {
  width: 100%;
  height: 800px;
  background-image: url("../img/f_color.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 297, ../sass/_casestudy.scss */
.fHeroImage3 {
  width: 100%;
  height: 800px;
  background-image: url("../img/f_graphics.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 306, ../sass/_casestudy.scss */
.fHeroImage4 {
  width: 100%;
  height: 800px;
  background-image: url("../img/f_site.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 315, ../sass/_casestudy.scss */
.fHeroImage5 {
  width: 100%;
  height: 800px;
  background-image: url("../img/f_site-2.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 324, ../sass/_casestudy.scss */
.STHeroImage {
  width: 100%;
  height: 800px;
  background-color: black;
}

/* line 329, ../sass/_casestudy.scss */
.STHeroImage {
  width: 100%;
  height: 800px;
  background-color: black;
  background-image: url("../img/ST_3.jpg");
  background-position: center;
  background-size: cover;
}

/* line 337, ../sass/_casestudy.scss */
.STHeroImage2 {
  width: 100%;
  height: 800px;
  background-image: url("../img/ST_2.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 346, ../sass/_casestudy.scss */
.STHeroImage3 {
  width: 100%;
  height: 800px;
  background-image: url("../img/ST_1.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 355, ../sass/_casestudy.scss */
.STHeroImage4 {
  width: 100%;
  height: 800px;
  background-image: url("../img/ST_4.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 364, ../sass/_casestudy.scss */
.classLink {
  color: blue;
}

/* line 367, ../sass/_casestudy.scss */
.classLink:hover {
  padding-left: 5px;
  transition: 200ms ease-in-out;
}

/* line 371, ../sass/_casestudy.scss */
.line {
  color: black;
  width: 94vw;
  opacity: .5;
  margin-top: 2em;
  margin-bottom: 2em;
}

@media screen and (min-width: 375px) and (max-width: 479px) {
  /* line 4, ../sass/_breakpoints.scss */
  .workContainer {
    flex-direction: column;
  }

  /* line 7, ../sass/_breakpoints.scss */
  .workTile1 {
    width: auto;
  }

  /* line 10, ../sass/_breakpoints.scss */
  .content-left {
    width: 80%;
  }

  /* line 13, ../sass/_breakpoints.scss */
  .content-right {
    width: 20%;
  }

  /* line 16, ../sass/_breakpoints.scss */
  .ms-header__title {
    font-size: 1.25em;
    padding-top: .5em;
  }

  /* line 20, ../sass/_breakpoints.scss */
  .headercontent {
    width: 93vw;
  }

  /* line 26, ../sass/_breakpoints.scss */
  #header {
    padding-top: 10px;
    height: 80px;
  }

  /* line 30, ../sass/_breakpoints.scss */
  .menu {
    overflow-y: scroll;
  }

  /* line 34, ../sass/_breakpoints.scss */
  .bodyHasOverlay #header {
    height: 60px;
    background-color: black;
    padding-top: 10px;
    height: 80px;
  }

  /* line 41, ../sass/_breakpoints.scss */
  .menuModuleText {
    font-size: 1.2em;
    padding-right: .5em;
  }

  /* line 45, ../sass/_breakpoints.scss */
  .menuModuleTitle {
    font-size: 1.2em;
    padding-top: .18em;
    padding-bottom: .2em;
  }

  /* line 50, ../sass/_breakpoints.scss */
  .skillModuleText {
    font-size: 1.2em;
    padding-top: .07em;
  }

  /* line 54, ../sass/_breakpoints.scss */
  .skillModuleTitle {
    font-size: 1.2em;
    padding-top: .18em;
    padding-bottom: .2em;
  }

  /* line 59, ../sass/_breakpoints.scss */
  .dividerStart {
    top: 22vw;
  }

  /* line 62, ../sass/_breakpoints.scss */
  .divider {
    top: 22vw;
  }

  /* line 65, ../sass/_breakpoints.scss */
  .menuModule {
    top: 6vw;
    margin-top: 2em;
  }

  /* line 69, ../sass/_breakpoints.scss */
  .skillModule {
    margin-top: 3em;
    top: 0vw;
    margin-bottom: 2em;
  }

  /* line 74, ../sass/_breakpoints.scss */
  .hide {
    display: none;
  }

  /* line 79, ../sass/_breakpoints.scss */
  .caseTitle {
    font-size: 1.2em;
    padding-top: .18em;
    padding-bottom: .2em;
  }

  /* line 84, ../sass/_breakpoints.scss */
  .caseDesc {
    font-size: 1.5em;
    line-height: 1.2em;
  }

  /* line 88, ../sass/_breakpoints.scss */
  .moduleText {
    font-size: 1.5em;
    line-height: 1.2;
  }

  /* line 92, ../sass/_breakpoints.scss */
  .moduleTitle {
    font-size: 1.2em;
  }

  /* line 95, ../sass/_breakpoints.scss */
  .moduleText2 {
    font-size: 1.1em;
    flex: 2;
  }

  /* line 99, ../sass/_breakpoints.scss */
  .blondHeroImage {
    height: 400px;
  }

  /* line 102, ../sass/_breakpoints.scss */
  .blondHeroImage2 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 109, ../sass/_breakpoints.scss */
  .blondHeroImage3 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 116, ../sass/_breakpoints.scss */
  .blondHeroImage4 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 123, ../sass/_breakpoints.scss */
  .moduleCredits {
    font-size: 1.1em;
  }

  /* line 126, ../sass/_breakpoints.scss */
  .fHeroImage2 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 133, ../sass/_breakpoints.scss */
  .fHeroImage3 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 140, ../sass/_breakpoints.scss */
  .fHeroImage4 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 147, ../sass/_breakpoints.scss */
  .fHeroImage5 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 154, ../sass/_breakpoints.scss */
  .aslHeroImage {
    height: 200px;
    width: 100vw;
  }

  /* line 158, ../sass/_breakpoints.scss */
  .aslHeroImage2 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 165, ../sass/_breakpoints.scss */
  .aslHeroImage3 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 172, ../sass/_breakpoints.scss */
  .aslHeroImage4 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 179, ../sass/_breakpoints.scss */
  .kHeroImage {
    height: 200px;
    width: 100vw;
  }

  /* line 183, ../sass/_breakpoints.scss */
  .kHeroImage2 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 190, ../sass/_breakpoints.scss */
  .kHeroImage3 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 197, ../sass/_breakpoints.scss */
  .kHeroImage4 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 204, ../sass/_breakpoints.scss */
  .heroImage {
    height: 200px;
    width: 100vw;
  }

  /* line 208, ../sass/_breakpoints.scss */
  .heroImage {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 215, ../sass/_breakpoints.scss */
  .heroImage2 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 222, ../sass/_breakpoints.scss */
  .heroImage3 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 229, ../sass/_breakpoints.scss */
  .heroImage4 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 236, ../sass/_breakpoints.scss */
  .heroImage5 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 243, ../sass/_breakpoints.scss */
  .heroImage6 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 250, ../sass/_breakpoints.scss */
  .heroImage7 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 257, ../sass/_breakpoints.scss */
  .mobile {
    display: block;
  }

  /* line 260, ../sass/_breakpoints.scss */
  .apHeroImage {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 267, ../sass/_breakpoints.scss */
  .apHeroImage2 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 274, ../sass/_breakpoints.scss */
  .apHeroImage3 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  /* line 286, ../sass/_breakpoints.scss */
  .workContainer {
    flex-direction: column;
  }

  /* line 289, ../sass/_breakpoints.scss */
  .workTile1 {
    width: auto;
  }

  /* line 292, ../sass/_breakpoints.scss */
  .content-left {
    width: 80%;
  }

  /* line 295, ../sass/_breakpoints.scss */
  .content-right {
    width: 20%;
  }

  /* line 298, ../sass/_breakpoints.scss */
  .ms-header__title {
    font-size: 1.25em;
    padding-top: .5em;
  }

  /* line 302, ../sass/_breakpoints.scss */
  .headercontent {
    width: 93vw;
  }

  /* line 308, ../sass/_breakpoints.scss */
  #header {
    padding-top: 10px;
    height: 80px;
  }

  /* line 312, ../sass/_breakpoints.scss */
  .menu {
    overflow-y: scroll;
  }

  /* line 316, ../sass/_breakpoints.scss */
  .bodyHasOverlay #header {
    height: 60px;
    background-color: black;
    padding-top: 10px;
    height: 80px;
  }

  /* line 323, ../sass/_breakpoints.scss */
  .menuModuleText {
    font-size: 1.2em;
    padding-right: .5em;
  }

  /* line 327, ../sass/_breakpoints.scss */
  .menuModuleTitle {
    font-size: 1.2em;
    padding-top: .18em;
    padding-bottom: .2em;
  }

  /* line 332, ../sass/_breakpoints.scss */
  .skillModuleText {
    font-size: 1.2em;
    padding-top: .07em;
  }

  /* line 336, ../sass/_breakpoints.scss */
  .skillModuleTitle {
    font-size: 1.2em;
    padding-top: .18em;
    padding-bottom: .2em;
  }

  /* line 341, ../sass/_breakpoints.scss */
  .dividerStart {
    top: 22vw;
  }

  /* line 344, ../sass/_breakpoints.scss */
  .divider {
    top: 22vw;
  }

  /* line 347, ../sass/_breakpoints.scss */
  .menuModule {
    top: 6vw;
    margin-top: 2em;
  }

  /* line 351, ../sass/_breakpoints.scss */
  .skillModule {
    margin-top: 3em;
    top: 0vw;
    margin-bottom: 2em;
  }

  /* line 356, ../sass/_breakpoints.scss */
  .hide {
    display: none;
  }

  /* line 361, ../sass/_breakpoints.scss */
  .caseTitle {
    font-size: 1.2em;
    padding-top: .18em;
    padding-bottom: .2em;
  }

  /* line 366, ../sass/_breakpoints.scss */
  .caseDesc {
    font-size: 1.5em;
    line-height: 1.2em;
  }

  /* line 370, ../sass/_breakpoints.scss */
  .moduleText {
    font-size: 1.5em;
    line-height: 1.2;
  }

  /* line 374, ../sass/_breakpoints.scss */
  .moduleTitle {
    font-size: 1.2em;
  }

  /* line 377, ../sass/_breakpoints.scss */
  .moduleText2 {
    font-size: 1.1em;
    flex: 2;
  }

  /* line 381, ../sass/_breakpoints.scss */
  .blondHeroImage {
    height: 400px;
  }

  /* line 384, ../sass/_breakpoints.scss */
  .blondHeroImage2 {
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 391, ../sass/_breakpoints.scss */
  .blondHeroImage3 {
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 398, ../sass/_breakpoints.scss */
  .blondHeroImage4 {
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 405, ../sass/_breakpoints.scss */
  .moduleCredits {
    font-size: 1.1em;
  }

  /* line 408, ../sass/_breakpoints.scss */
  .fHeroImage2 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 415, ../sass/_breakpoints.scss */
  .fHeroImage3 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 422, ../sass/_breakpoints.scss */
  .fHeroImage4 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 429, ../sass/_breakpoints.scss */
  .fHeroImage5 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 436, ../sass/_breakpoints.scss */
  .aslHeroImage {
    height: 200px;
    width: 100vw;
  }

  /* line 440, ../sass/_breakpoints.scss */
  .aslHeroImage2 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 447, ../sass/_breakpoints.scss */
  .aslHeroImage3 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 454, ../sass/_breakpoints.scss */
  .aslHeroImage4 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 461, ../sass/_breakpoints.scss */
  .kHeroImage {
    height: 200px;
    width: 100vw;
  }

  /* line 465, ../sass/_breakpoints.scss */
  .kHeroImage2 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 472, ../sass/_breakpoints.scss */
  .kHeroImage3 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 479, ../sass/_breakpoints.scss */
  .kHeroImage4 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 486, ../sass/_breakpoints.scss */
  .heroImage {
    height: 200px;
    width: 100vw;
  }

  /* line 490, ../sass/_breakpoints.scss */
  .heroImage {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 497, ../sass/_breakpoints.scss */
  .heroImage2 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 504, ../sass/_breakpoints.scss */
  .heroImage3 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 511, ../sass/_breakpoints.scss */
  .heroImage4 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 518, ../sass/_breakpoints.scss */
  .heroImage5 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 525, ../sass/_breakpoints.scss */
  .heroImage6 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 532, ../sass/_breakpoints.scss */
  .heroImage7 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 539, ../sass/_breakpoints.scss */
  .mobile {
    display: block;
  }

  /* line 542, ../sass/_breakpoints.scss */
  .apHeroImage {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 549, ../sass/_breakpoints.scss */
  .apHeroImage2 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 556, ../sass/_breakpoints.scss */
  .apHeroImage3 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 567, ../sass/_breakpoints.scss */
  .workTile1 {
    width: 48.25%;
  }

  /* line 571, ../sass/_breakpoints.scss */
  .bodyHasOverlay #header {
    height: 60px;
    background-color: black;
  }

  /* line 576, ../sass/_breakpoints.scss */
  .hide {
    display: none;
  }

  /* line 579, ../sass/_breakpoints.scss */
  .skillModule {
    margin-top: 4em;
  }

  /* line 582, ../sass/_breakpoints.scss */
  .caseDesc {
    font-size: 2em;
    flex: 2.5;
  }

  /* line 587, ../sass/_breakpoints.scss */
  .heroImage {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 594, ../sass/_breakpoints.scss */
  .heroImage2 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 601, ../sass/_breakpoints.scss */
  .heroImage3 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 608, ../sass/_breakpoints.scss */
  .heroImage4 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 615, ../sass/_breakpoints.scss */
  .heroImage5 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 622, ../sass/_breakpoints.scss */
  .heroImage6 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 629, ../sass/_breakpoints.scss */
  .heroImage7 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 637, ../sass/_breakpoints.scss */
  .apHeroImage {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 644, ../sass/_breakpoints.scss */
  .apHeroImage2 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 651, ../sass/_breakpoints.scss */
  .apHeroImage3 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 659, ../sass/_breakpoints.scss */
  .blondHeroImage {
    height: 400px;
  }

  /* line 662, ../sass/_breakpoints.scss */
  .blondHeroImage2 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 669, ../sass/_breakpoints.scss */
  .blondHeroImage3 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 676, ../sass/_breakpoints.scss */
  .blondHeroImage4 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 684, ../sass/_breakpoints.scss */
  .fHeroImage2 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 691, ../sass/_breakpoints.scss */
  .fHeroImage3 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 698, ../sass/_breakpoints.scss */
  .fHeroImage4 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 705, ../sass/_breakpoints.scss */
  .fHeroImage5 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 713, ../sass/_breakpoints.scss */
  .aslHeroImage {
    height: 400px;
    width: 100vw;
  }

  /* line 717, ../sass/_breakpoints.scss */
  .aslHeroImage2 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 724, ../sass/_breakpoints.scss */
  .aslHeroImage3 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 731, ../sass/_breakpoints.scss */
  .aslHeroImage4 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 739, ../sass/_breakpoints.scss */
  .kHeroImage {
    height: 400px;
    width: 100vw;
  }

  /* line 743, ../sass/_breakpoints.scss */
  .kHeroImage2 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 750, ../sass/_breakpoints.scss */
  .kHeroImage3 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }

  /* line 757, ../sass/_breakpoints.scss */
  .kHeroImage4 {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    margin-top: 0em;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1199px) {
  /* line 769, ../sass/_breakpoints.scss */
  .workTile1 {
    height: 500px;
    width: 32%;
  }

  /* line 773, ../sass/_breakpoints.scss */
  .divider {
    top: 8vw;
  }

  /* line 776, ../sass/_breakpoints.scss */
  .dividerStart {
    top: 8vw;
  }

  /* line 779, ../sass/_breakpoints.scss */
  .menuModuleText {
    font-size: 1.2em;
  }

  /* line 782, ../sass/_breakpoints.scss */
  .menuModuleTitle {
    font-size: 1.25em;
  }

  /* line 785, ../sass/_breakpoints.scss */
  .skillModuleText {
    font-size: 1.2em;
  }

  /* line 788, ../sass/_breakpoints.scss */
  .skillModuleTitle {
    font-size: 1.25em;
  }

  /* line 791, ../sass/_breakpoints.scss */
  .caseDesc {
    font-size: 2.5em;
  }

  /* line 795, ../sass/_breakpoints.scss */
  .heroImage {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 802, ../sass/_breakpoints.scss */
  .heroImage2 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 809, ../sass/_breakpoints.scss */
  .heroImage3 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 816, ../sass/_breakpoints.scss */
  .heroImage4 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 823, ../sass/_breakpoints.scss */
  .heroImage5 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 830, ../sass/_breakpoints.scss */
  .heroImage6 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 837, ../sass/_breakpoints.scss */
  .heroImage7 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 845, ../sass/_breakpoints.scss */
  .apHeroImage {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 852, ../sass/_breakpoints.scss */
  .apHeroImage2 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 859, ../sass/_breakpoints.scss */
  .apHeroImage3 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 867, ../sass/_breakpoints.scss */
  .blondHeroImage {
    height: 500px;
  }

  /* line 870, ../sass/_breakpoints.scss */
  .blondHeroImage2 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 877, ../sass/_breakpoints.scss */
  .blondHeroImage3 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 884, ../sass/_breakpoints.scss */
  .blondHeroImage4 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 892, ../sass/_breakpoints.scss */
  .fHeroImage2 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 899, ../sass/_breakpoints.scss */
  .fHeroImage3 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 906, ../sass/_breakpoints.scss */
  .fHeroImage4 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 913, ../sass/_breakpoints.scss */
  .fHeroImage5 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 921, ../sass/_breakpoints.scss */
  .aslHeroImage {
    height: 500px;
    width: 100vw;
  }

  /* line 925, ../sass/_breakpoints.scss */
  .aslHeroImage2 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 932, ../sass/_breakpoints.scss */
  .aslHeroImage3 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 939, ../sass/_breakpoints.scss */
  .aslHeroImage4 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 947, ../sass/_breakpoints.scss */
  .kHeroImage {
    height: 500px;
    width: 100vw;
  }

  /* line 951, ../sass/_breakpoints.scss */
  .kHeroImage2 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 958, ../sass/_breakpoints.scss */
  .kHeroImage3 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 965, ../sass/_breakpoints.scss */
  .kHeroImage4 {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }
}
@media screen and (min-width: 1200px) {
  /* line 977, ../sass/_breakpoints.scss */
  .workTile1 {
    height: 600px;
    width: 32.25%;
  }

  /* line 981, ../sass/_breakpoints.scss */
  .divider {
    top: 8vw;
  }

  /* line 984, ../sass/_breakpoints.scss */
  .dividerStart {
    top: 8vw;
  }

  /* line 987, ../sass/_breakpoints.scss */
  .menuModuleText {
    font-size: 1.3em;
  }

  /* line 990, ../sass/_breakpoints.scss */
  .menuModuleTitle {
    font-size: 1.3em;
  }

  /* line 993, ../sass/_breakpoints.scss */
  .skillModuleText {
    font-size: 1.3em;
  }

  /* line 996, ../sass/_breakpoints.scss */
  .skillModuleTitle {
    font-size: 1.3em;
  }

  /* line 999, ../sass/_breakpoints.scss */
  .caseDesc {
    font-size: 2.5em;
  }

  /* line 1002, ../sass/_breakpoints.scss */
  .heroImage {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1010, ../sass/_breakpoints.scss */
  .heroImage2 {
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1018, ../sass/_breakpoints.scss */
  .heroImage3 {
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1026, ../sass/_breakpoints.scss */
  .heroImage4 {
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1034, ../sass/_breakpoints.scss */
  .heroImage5 {
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1042, ../sass/_breakpoints.scss */
  .heroImage6 {
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1050, ../sass/_breakpoints.scss */
  .heroImage7 {
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1059, ../sass/_breakpoints.scss */
  .apHeroImage {
    height: 800px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1067, ../sass/_breakpoints.scss */
  .apHeroImage2 {
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1075, ../sass/_breakpoints.scss */
  .apHeroImage3 {
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1084, ../sass/_breakpoints.scss */
  .blondHeroImage {
    height: 800px;
    width: 100%;
  }

  /* line 1088, ../sass/_breakpoints.scss */
  .blondHeroImage2 {
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1096, ../sass/_breakpoints.scss */
  .blondHeroImage3 {
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1104, ../sass/_breakpoints.scss */
  .blondHeroImage4 {
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1113, ../sass/_breakpoints.scss */
  .fHeroImage2 {
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1121, ../sass/_breakpoints.scss */
  .fHeroImage3 {
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1129, ../sass/_breakpoints.scss */
  .fHeroImage4 {
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1137, ../sass/_breakpoints.scss */
  .fHeroImage5 {
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  /* line 1146, ../sass/_breakpoints.scss */
  .aslHeroImage {
    height: 800px;
    width: 100vw;
  }

  /* line 1150, ../sass/_breakpoints.scss */
  .aslHeroImage2 {
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
    width: 100%;
  }

  /* line 1158, ../sass/_breakpoints.scss */
  .aslHeroImage3 {
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
    width: 100%;
  }

  /* line 1166, ../sass/_breakpoints.scss */
  .aslHeroImage4 {
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
    width: 100%;
  }

  /* line 1175, ../sass/_breakpoints.scss */
  .kHeroImage {
    height: 800px;
    width: 100vw;
  }

  /* line 1179, ../sass/_breakpoints.scss */
  .kHeroImage2 {
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
    width: 100%;
  }

  /* line 1187, ../sass/_breakpoints.scss */
  .kHeroImage3 {
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
    width: 100%;
  }

  /* line 1195, ../sass/_breakpoints.scss */
  .kHeroImage4 {
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    margin-top: 3em;
    width: 100%;
  }
}
